* {
  box-sizing: border-box;
}
:root {
  --white: #ffffff;
  --gray1: #333333;
  --gray2: #555555;
  --gray3: #cccccc;
  --gray4: #aaaaaa;
  --black: #080808;
  --teal: #006060;
  --lightteal: #008080;
  --purple: #800080;
  --navy: #000080;
  --cyan: #17a2b8;
  --violetred: #c71585;
  --red: #ff0000;
  --orange: #ffa500;
  --green: #006400;
}

@media (min-width: 414px) and (max-width: 767px) {
  body{
    font-size: 1em;
  }
  .image{
    width: 20vw;
  }
}
a{
  text-decoration: none;
  color: #4880c9; 
}
a{
  text-decoration: none;
  color: #4880c9; 
}
.textlink:hover{
  text-decoration: underline;
}
.form {
  width: 400px;
}
.flex-item,
.grid-item {
  padding: 10px;
  background-color: var(--purple);
  color: var(--white);
  font-size: 2.4em;
  text-align: center;
}
.flex-item {
  width: 160px;
  height: 80px;
  margin: 1px;
}
.link{
  color: orange;
}
.link:visited{
  color: red;
}
.link:hover{
  color: #4880c9;
}
#side{
  margin-right: auto;
}
.btn{
  background-color: orangered;
  color: white;
  width: 100%;
  height: 50px;
  border: 3px;
  border-radius: 30px;
  border-color: purple;
}
.btn:hover{
  background-color: yellowgreen;
  cursor: pointer;
}
.body {
  height: auto;
  /* width: 100vw; */
  background-color: #B74803;
  display: grid;
  /* justify-content: center; */
  /* align-items: start; */
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.8em;
  color: #B3DEE5;
}
.navtotop{
  background-color: orangered;
  color:black;
  position: sticky;
  /* position: -webkit-sticky; */
  align-self: start;  
  top: 400px;
  transform: rotate(-90deg);
  translate: 0 -90px;
  transform-origin: left top 0;
  width: 90px;
  /* height:60px */
  /* z-index: 10; */
  border-radius: 5px;
  border-color: yellow;
  border-style:groove;
}
.center{
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr;
}

#about{
  z-index: 2;
}

/* navigation */

/* .nav-list {
  top:0;  
  display:block;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
} */
.navigation{
  z-index: 10;
  top: 0;
  left: 0;
  position: sticky;
  /* align-self: start; */
  width: 100%;
  border-radius: 10px;
  border-top: 1px solid #fdc34e;
  padding-bottom: 18px;
  background-color: #FFA101;
  background-image: -moz-linear-gradient(top, #ff9b00, #fa7908);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff9b00), to(#fa7908));
	background-image: -webkit-linear-gradient(top, #ff9b00, #fa7908);
	background-image: -o-linear-gradient(top, #ff9b00, #fa7908);
	background-image: linear-gradient(top, #ff9b00, #fa7908);
	background-repeat: repeat-x;
}
/* social nav items */
.social-nav {
  padding-left: 10px;
  top:0;  
  position: absolute;
  list-style-type: none!important;
  padding: 0;
  overflow: hidden;
}
ul.social-nav li{
  float:left;
  color: white; 
}
/* site nav items */
.site-nav {
  top:0;  
  list-style-type: none;
  padding: 0;
  overflow: hidden;
}
.site-list-item {
  float: right;
  border-radius: 5px;
  margin-right: 5px;
  margin-left: 5px;
  background-color: #B74803;
}
.site-list-item:hover{
    transform: scale(1.1);
    background-color: #31525B;
    border-radius: 100px;
}
li a{
  display: block;
  color: white;
  text-align: center;
  padding: 20px 20px 20px 20px;
  text-decoration: none;
}
li a:hover{
  background-color: #31525B;
  border-radius: 20px;
  color: black;
  /* transform: scale(1.2); */
}


/* text highlight/shadows */
.highlight{
  text-shadow: 1px 1px 1px purple;
}
.highlight:hover{
  color:orangered
}
.header-text{
  font-size: 2.5rem;
  display: block;
  height: auto;
}
#paragraph{
  text-indent: 50px;
  letter-spacing: 10px;
}
#paragraph:hover{
  color:black;
}
#username{
  width: 100%;
}
#email{
  width: 100%;
}
#message{
  width: 100%;
  height: 50px;
}
.content{
  height: auto;
  background-color: #31525B;
  padding: 1vw;
  margin-bottom: 20px;
  border-radius: 50px;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 3px solid #4880c9;
}

.image{
  width: 60vw;
  height: 50vh;
  border-radius: 30px;
  border-color: #006400;
  border: 10px;
}
@media (min-width: 414px) and (max-width: 767px) { 
  .image{
    width: 45vw;
    height: 45vh;
  }
}


/* forms */
.contact{
  width: 50%;
  margin: 0 auto;   /* center */ 
}
.form-label{
  align-items: center;
  justify-content: center;
  margin-bottom: 1vh;
  width: 50%;
  margin: 0 auto;
  display: flex;
}
.form-input{
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 3vh;
  /* width: 50%; */
  display: flex;
}



/* loading animation. only works with JS, make sure to add jquery CDN script to html page.
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script> */
.no-js #loader { display: none; }
.js #loader { 
  display: block; 
  position: absolute; 
  left: 100px;
  top: 0;
}
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../images/Preload.gif') center no-repeat #ff9b00;
}

/* hamburger menu */



/* profile picture */
.profile-pic{
  border-radius: 50px;
  position: inherit;
  float: left;
}

/* boids */
.boids-canvas{
  position: fixed;
  height: 100vh;
  width: 100vw;
}

/* projects */
.projects-grid{
  width: 100%;
  display: grid;
  /* grid-template: 20em 20em 20em / 1fr 1fr 1fr; */
  grid-template-columns: repeat(3, 33.5%) ;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  background-color: #31525B;
  margin-bottom: 50px;
  /* border-radius: 50px; */
  text-align: center;
  /* border: 3px solid #4880c9; */
}
.project-item{
  text-align: center;
  align-items: center;
  justify-content: center;
  /* padding: 6vh 3vw; */
  display: flex;
  margin: 1vh 1vw;
  /* size: 100px 200px; */
  height: 40vh;
  -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #b3b3b5;
  /* padding: 5vh 2vw; */ 
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow: hidden;
}
@media (min-width: 414px) and (max-width: 767px) { 
  .projects-grid{
    grid-template-columns: 1fr;
  }
}
@media (min-width: 767px) and (max-width: 1500px) { 
  .projects-grid{
    grid-template-columns: repeat(2, 50%);
    /* grid-template-rows: 1vh 1vw; */
  }
}

.project-item-image-overlay-grow{
  /* z-index: 3; */
  /* position: absolute; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; 
  background-color: #008CBA;
  background-size: 100% 100%;
  overflow: hidden;
  width: 0%;
  height: 0%;
  /* translate: -100%; */
  /* transform; ; */
  transition: .3s ease;
}
.project-item:hover .project-item-image-overlay-grow{
  /* transform: translate3d(0px, -150px, 0px); */
  background-color: red;
  /* translate: 0; */
  width: 100%;
  height: 100%;
}

.project-item-image-overlay-lrgrow{
  /* z-index: 3; */
  /* position: absolute; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; 
  background-color: #008CBA;
  background-size: 100% 100%;
  overflow: hidden;
  width: 0%;
  height: 0%;
  /* translate: -100%; */
  /* transform; ; */
  transition: .3s ease;
}
.project-item:hover .project-item-image-overlay-lrgrow{
  /* transform: translate3d(0px, -150px, 0px); */
  background-color: red;
  /* translate: 0; */
  width: 100%;
  height: 100%;
}

/* embedded yt videos */
.ytembed{
  margin: auto auto;
  width: 50vw;
  height: 40vh;
}


/* tooltip popups */
.tooltip .tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  z-index: 5;
}