* {
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --gray1: #333333;
  --gray2: #555555;
  --gray3: #cccccc;
  --gray4: #aaaaaa;
  --black: #080808;
  --teal: #006060;
  --lightteal: #008080;
  --purple: #800080;
  --navy: #000080;
  --cyan: #17a2b8;
  --violetred: #c71585;
  --red: #ff0000;
  --orange: #ffa500;
  --green: #006400;
}

body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.8em;
  color: var(--white);
}
@media (min-width: 414px) and (max-width: 767px) {
  body{
    font-size: 1em;
  }

  .image{
    width: 20vw;
  }
}
form {
  width: 400px;
}

.flex-item,
.grid-item {
  padding: 10px;
  background-color: var(--purple);
  color: var(--white);
  font-size: 2.4em;
  text-align: center;
}

.flex-item {
  width: 160px;
  height: 80px;
  margin: 1px;
}

#link{
  color: var(--orange);
}
#link:visited{
  color: black;
}

#side{
  display: inline-flex;
  flex: 1;
  margin-right: auto;
}

body {
  margin: 100px;
  background-color: var(--teal);
}

.nav-list {
  position: fixed;
  top:0;  
  display:block;
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  overflow: hidden;
  /* background-color: orangered; */
  border-radius: 5px;
}

.list-item {
  float: right;
  border-radius: 5px;
  margin-right: 5px;
  background-color: orangered;
}

li a{
  display: block;
  color: white;
  text-align: center;
  padding: 20px 20px 20px 20px;
  text-decoration: none;
}

li a:hover{
  background-color:  #ffbf00;
  color: black;
}


/* .nav-link {
} */
.highlight{
  text-shadow: 1px 1px 1px purple;
}
.highlight:hover{
  color:orangered
}

#header{
  font-size: 2.5rem;
  display: block;
}

#paragraph{
  text-indent: 50px;
  letter-spacing: 10px;
}
#paragraph:hover{
  color:black;
}

#note{
  width: 50%;
  height: 50px;
}

.content{
  display: grid;
  background-color: teal;
  padding: 50px;
  margin-bottom: 50px;
  border-radius: 50px;
}

#experience{
  background-color: teal;
  padding: 50px;
  margin-bottom: 50px;
  border-radius: 50px;
}
#project{
  width: 90%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px;
  border: 1px solid #666;
  padding: 50px;
}

.image{
  width: 60rem;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}
@media (min-width: 414px) and (max-width: 767px) { 
  .image{
    width: 50vw;
    height: 50vh;
  }
}
#plathymeImage{
  background: url("/images/PlaThyme.png");
}
#plathymeImage:hover{
  background: url("/images/slapjack.png");
}
.form-element{
  margin-bottom: 50px;
}